{% extends "base.html" %}

{% block content %}

{% if tasks %}
	
	{% if tasks.done %}
	
		<h3 class="block_label">Things I've done today!</h3>
	
	{% endif %}

	{% for task in tasks.done %}

		<p class="tasks_done">{{task.name}}</p>
		
	{% endfor %}

	{% if tasks %}

		<h3 class="block_label">Today's tasks</h3>

	{% endif %}

	{% for task in tasks %}

		<p class="tasks_today">{{task.name}}</p>

	{% endfor %}

{% else %}

	<h1 id="congrats">Congratulations! It looks like you don't have anythin to do!</h1>

{% endif %}

{% endblock %}
